.container {
  width: 1190px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.clearfix::after,
.clearfix::before {
  display: table;
  content: "";
  clear: both;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.swiper-buttons,
.swiper-button-next,
.swiper-button-prev {
  width: 25px;
  height: 35px;
  line-height: 35px;
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  transition: 0.2s;
}
.swiper-button-next {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  right: 0;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-next::before {
  margin-right: -6px;
}
.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.4);
}
.swiper-button-prev {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  left: 0;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.4);
}
.swiper-button-prev::before {
  margin-left: -6px;
}
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.4);
}
/*footer*/
/*top*/
.footer {
  background: #eaeaea;
}
.footer .f_top {
  padding: 30px 0;
  border-bottom: 1px solid #dedede;
}
.footer .f_top ul::after {
  display: table;
  content: "";
  clear: both;
}
.footer .f_top ul li {
  float: left;
  width: 297px;
}
.footer .f_top ul li i {
  float: left;
  width: 36px;
  height: 42px;
  background-image: url(../img/footerSprite.png);
  margin-right: 9px;
}
.footer .f_top ul li p {
  line-height: 42px;
  font-size: 18px;
  font-weight: 700;
  color: #444;
}
.footer .f_top ul li:nth-child(1) i {
  background-position: 0 -192px;
}
.footer .f_top ul li:nth-child(2) i {
  background-position: -41px -192px;
}
.footer .f_top ul li:nth-child(3) i {
  background-position: -82px -192px;
}
.footer .f_top ul li:nth-child(4) i {
  background-position: -123px -192px;
}
.footer .f_center {
  padding: 20px 0;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
}
.footer .f_center ul {
  float: left;
  width: 198px;
}
.footer .f_center ul li {
  font-size: 12px;
  line-height: 22px;
  color: #666;
}
.footer .f_center ul li:first-child {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}
.footer .f_center ul li a {
  color: #666;
  text-decoration: none;
}
.footer .f_center ul li a:hover {
  color: #e1251b;
}
.footer .f_center ul li:not(:first-child) a:hover {
  color: #e1251b;
}
.footer .f_center div {
  float: left;
  width: 200px;
}
.footer .f_center div h4 {
  font-size: 14px;
  line-height: 22px;
  color: #666;
  margin-bottom: 15px;
  text-align: center;
}
.footer .f_center div p {
  font-size: 12px;
  color: #666;
  padding: 0 10px;
  line-height: 18px;
}
.footer .f_center div .f_c_det {
  float: right;
  cursor: pointer;
}
.footer .f_center div .f_c_det i {
  font-size: 12px;
  line-height: 12px;
}
.footer .f_center div .f_c_det:hover {
  color: #e1251b;
}
.footer .f_btm {
  padding: 15px 0;
}
.footer .f_btm ul {
  margin: 0 auto;
  width: fit-content;
  overflow: hidden;
}
.footer .f_btm ul li {
  float: left;
  font-size: 12px;
}
.footer .f_btm ul li:not(:last-child):after {
  display: inline-block;
  content: "|";
  margin: 0 10px;
  color: #ccc;
}
.footer .f_btm ul li a {
  color: #666;
  text-decoration: none;
}
.footer .f_btm ul li a:hover {
  color: #e1251b;
}
.footer .f_btm .f_btm_info {
  margin-top: 10px;
  line-height: 22px;
  color: #999;
  font-size: 12px;
}
.footer .f_btm .f_btm_info ul {
  overflow: hidden;
}
.footer .f_btm .f_btm_info ul li a {
  color: #999;
}
.footer .f_btm .f_btm_info ul li i {
  width: 15px;
  height: 12px;
  background-image: url(../img/footerSprite.png);
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: 2px;
}
.footer .f_btm .f_btm_info ul li:nth-child(1) i {
  background-position: -108px -155px;
}
.footer .f_btm .f_btm_info ul li:nth-child(2) i {
  background-position: -168px -155px;
}
.footer .f_btm .f_btm_info ul li:nth-child(3) i {
  background-position: -148px -155px;
}
.footer .f_btm .f_btm_info ul li:nth-child(4) i {
  background-position: -128px -155px;
}
.footer .f_btm .f_btm_info ul li:nth-child(5) i {
  background-position: -108px -172px;
}
.footer .f_btm .f_btm_ico {
  margin: 25px auto;
}
.footer .f_btm .f_btm_ico li a {
  display: inline-block;
  margin: 0 3px;
  width: 103px;
  height: 32px;
  background-image: url(../img/footerSprite.png);
}
.footer .f_btm .f_btm_ico li:nth-child(1) a {
  background-position: -205px -111px;
}
.footer .f_btm .f_btm_ico li:nth-child(2) a {
  background-position: -205px -74px;
}
.footer .f_btm .f_btm_ico li:nth-child(3) a {
  background-position: -205px -37px;
}
.footer .f_btm .f_btm_ico li:nth-child(4) a {
  background-image: url(../img/footerSprite2.png);
  background-position: 0 -66px;
}
.footer .f_btm .f_btm_ico li:nth-child(5) a {
  background-position: 0 -155px;
}
.footer .f_btm .f_btm_ico li:nth-child(6) a {
  background-image: url(../img/footerSprite2.png);
  background-position: 0 -99px;
}
.footer .f_btm .f_btm_ico li::after {
  display: none !important;
}
